.footer {
  background-color: #fcfcfc;
  height: 40px !important;
  position: fixed;
  bottom: 0px;
}

.footer p {
  color: #a9a9a9;
  line-height: 20px;
  margin: 8px 20px 0px;
  font-weight: 600;
}

.footer a {
  color: #32992c;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: #91b509;
  }
}
