@import "./variables";
@import "./navbar";
@import "./footer.scss";
@import "./loginform";
@import "./editpopover";

body,
html,
#root {
  background-color: #e5e5e5;
  height: 100%;
}

.main {
  min-height: 100%;
  background-color: #f8f8f8;
  padding: 0px;
}
